@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');



*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 background: #F8FCDA;
 color:  #f35b04;
 background-image: url(/images/newwave.svg);
 background-size: cover;
}




 /* First Section */

.main-hr{
 width: 5%;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 20px;
 border-color: white;
 }


 #title{
  font-size: 60px;
  text-align: center;
  font-family: Bungee Shade;
  margin: 20px;
 }

 #img-caption{
  font-family: Poppins;
  margin-top: 30px;
  color: #606c38;
  margin-bottom: 20px;
 }

 .header-paragraph{
  font-size: 30px;
 }

 p{
  font-size: 20px;
  text-align: center;
  font-family: Poppins;
  margin-bottom: 20px;
  max-width: 50%;
  color: #606c38;
 }


 /* Section 2 */

 #img-div{
  text-align: center;
 }

 #image{
  max-width: 100%;
  border-radius: 10%;
  box-shadow: 3px 2px 2px grey;
 }

 /* Section 3 */

 .tribute-div{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.tribute-h3{
 margin-bottom: 10px;
 text-align: center;
  font-family: Bungee Shade;
  font-size: 20px;
 }

 .tribute-hr{
 width: 5%;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 20px;
 border-color: white;
 }

 .footer-h3{
  font-family: Poppins;
  text-align: center;
 }

 